<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectguru">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectGuru">
        <activity android:name=".ui.ResourceSearchResults"></activity>
        <activity android:name=".ui.ResourceSearch" />
        <activity android:name=".ui.WorkUnitReports" />
        <activity android:name=".ui.PhaseReports" />

        <receiver
            android:name=".tools.AlertReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.ResourceEdit" />
        <activity android:name=".ui.ProjectReports" />
        <activity android:name=".ui.WorkUnitEdit" />
        <activity android:name=".ui.WorkUnitNoteEdit" />
        <activity android:name=".ui.PhaseNoteEdit" />
        <activity android:name=".ui.PhaseNote" />
        <activity android:name=".ui.WorkUnitNote" />
        <activity android:name=".ui.WorkUnitDetail" />
        <activity android:name=".ui.PhaseEdit" />
        <activity android:name=".ui.PhaseDetail" />
        <activity android:name=".ui.ProjectDetail" />
        <activity
            android:name=".ui.ProjectEdit"
            android:label="Add or Edit Project" />
        <activity
            android:name=".ui.ProjectsList"
            android:label="Projects" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity
            android:name=".ui.Home"
            android:label="Home" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>